extends layout

block content
  script(src='/javascripts/initialize.js')

  #mainContainer.container
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      h1=title

      hr

      #day0.panel.panel-default
        .panel-heading Sunday
        .panel-body
          ul


      #day1.panel.panel-default
        .panel-heading Monday
        .panel-body
          ul


      #day2.panel.panel-default
        .panel-heading Tuesday
        .panel-body
          ul


      #day3.panel.panel-default
        .panel-heading Wednesday
        .panel-body
          ul


      #day4.panel.panel-default
        .panel-heading Thursday
        .panel-body
          ul


      #day5.panel.panel-default
        .panel-heading Friday
        .panel-body
          ul


      #day6.panel.panel-default
        .panel-heading Saturday
        .panel-body
          | Add tasks here
          ul



